.work-section .work-desc-wrapper{
    padding: 0 30px;
    box-shadow: 0 0 11px 4px #eee;
}
.work-section .work-desc{
	border-bottom: 1px solid #eee;
	padding: 30px 0 ;
}
.work-section .work-desc:last-child{
	border-bottom: 0;	
}
.work-section .work-desc h3{
	margin: 0;
}
.work-section .work-desc h4{
	color: teal;
	margin: 15px 0;
}
.work-section .work-desc h4 i{
    padding-right: 10px;
} 



